{% extends 'base.html' %}

{% block extralinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
Food Market
{% endblock %}
{% block content %}
<div id="wrapper">
    <header>
        <h1>
            <strong>
                Привіт, громадянине!<br/>Ласкаво просимо у цьому місці
            </strong>
        </h1>
    </header>
    <main>
        <div>
            <section>
                <h2>
                    <strong>Про нас</strong>
                </h2>
                <article>
                  Компанія "Food Market" була заснована Баглаєм Денисом, відданим ентузіастом гастрономії та
                  прихильник здорового способу життя. Його метою було створити платформу, яка спростить процес покупки
                  харчів та зробить його більш зручним для всіх.<br><br>Історія компанії розпочалася з
                  маленької команди ентузіастів, які мріяли про те, щоб зробити шопінг харчів таким же
                  простим та приємним, як і відвідування улюбленого ринку. У 2020 році Багдай Денис запустив свою ідею,
                  об'єднавши команду винахідників, програмістів і експертів з області гастрономії.<br><br>Платформа
                  "Food Market" швидко здобула популярність завдяки своїй інноваційності та вдалому поєднанню сучасних
                  технологій та гастрономічних тенденцій. Клієнти отримали можливість швидко та зручно замовляти якісні
                  продукти безпосередньо з власного дому.<br><br>"Food Market" вирізняється великим асортиментом
                  екологічно чистих продуктів та прозорою системою ціноутворення. Компанія не тільки дбає про комфорт
                  своїх користувачів, але й активно підтримує ініціативи щодо відповідального виробництва та споживання
                  продуктів. <br><br>Сьогодні "Food Market" став не лише популярним онлайн-магазином, а й центром для
                  тих, хто цінує якість, смак та здоров'я. Багдай Денис та його команда продовжують розвивати компанію,
                  додавати нові функції та розширювати асортимент, перетворюючи шопінг харчів в справжню
                  гастрономічну пригоду для всіх клієнтів "Food Market".
                </article>
            </section>
        </div>
    </main>
    <footer>
        Дякуємо Вам за ваше існування та підтримку нашого продукту!
    </footer>
</div>
{% endblock %}